* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Inter', sans-serif;
}

:root {
  --height-block: 30rem;
  --height-right-dw: 10rem;
  --height-right-up: 17rem;
  --height-placeholder: 1.8rem;
  --width-placeholder: 100%;
  --border-radius: .5rem;
  --cursor: pointer;
  --panel-color: #5E5D5D1A;
  --font-size: 12px;
  --main-color: black;
  --sub-color: white;
  --lower-color: rgb(27, 87, 27);
  --button-color: #a3d133;
  --border-color:  rgba(0, 0, 0, 0.3) ;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--sub-color);
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* This ensures centering */
  gap: 2rem;
  min-height: 100vh; /* Helps vertical alignment too */
}

.left-panel,
.right-panel {
  width: 90%;
  border-radius: 2rem;
  transition: all 0.5s ease;
  padding: 1.5rem;
  color: var(--main-color);
  background-color: var(--panel-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo,
.side-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.box-img1{
    height: auto;
    max-width: 65%;
    object-fit: contain;
    margin-top:-2rem;
}

.box-img2 {
    height: auto;
    max-width: 65%;
    object-fit: contain;
    margin-top:-2rem;
}

.login-info,
.login-buttons {
  width: 90%;
  max-width: 600px;
  background-color: transparent;
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;    
}

.tab-menu ul li {
  width: 10rem;
  padding: 0.5rem 1rem;
  text-align: center;
  list-style-type: none;
}

.tab-menu ul {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.tab-menu ul li .tab {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}

.tab:hover, .active{ 
  border-bottom: 2px solid var(--lower-color);
  padding: .5rem 2rem;
}    

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

label {
  font-size: var(--font-size);
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  background-color: transparent;
}

input:hover {
    border-color: var(--button-color);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
}

.continue-btn,
.apple-button,
.google-button {
    width: 100%;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    font-weight: bold;
    cursor: pointer;   
}

.continue-btn {
    background-color: var(--button-color);
    color: var(--sub-color);
    border: none;
}

.apple-button,
.google-button {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

.signup-text {
    font-size: 0.8rem;
    color: var(--main-color);
}

.footer {
    color: rgb(43, 147, 232);
    text-decoration: none;
}

.login-buttons{
    margin-top: 4rem;
}

@media screen and (min-width: 765px) {

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .left-panel {
    width: 25rem;
    height: var(--height-block);
  }

  .right-panel { 
    width: 35rem;
    height: var(--height-block);
  }

  .login-info,
  .login-buttons {
    width: 90%;
  }
}
